body{
	background-color:rgb(33, 62, 192);
	color:black;
	font-size:20px;
	font-weight:bolder;
	margin-left:2px;
}
#button{
	background-color:black;
	color:darkgray;
	font-size:18px;
	padding:5px;
}